body {
  background-image: url(../assets/img/fondo2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.imga1 {
  width: 25%; }

.text-center {
  background-color: #e8e6a7;
  padding-bottom: 50px;
  padding-right: 50px;
  padding-left: 50px;
  margin-left: 20px; }

.row {
  justify-content: center; }

.navbar {
  margin-left: 0;
  margin-right: 0;
  font-family: "Fredoka", sans-serif; }

.img-fluid1 {
  justify-content: center; }
