<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="../assets/img/favicon32.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="¡BIENVENIDOS A RODANTES MUNDU! Un emprendimiento que te acompaña en tus viajes.">
		<meta name="keywords" content="casa rondantes vacaciones alquiler casillas">
		<title>contacto</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"integrity="	sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body>
	

	<header>
		
		<!--logo y nav-->
			
					
					<nav class=" row navbar col-lg-12 col-12 navbar-expand-lg navbar-light" style= "background-color: #e8e6a7";>
					  		<a class="navbar-brand" href="../index.html" target="_blank"><img src="../assets/img/logo1.png" alt="logo" width="70px"></a>
					  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					    			<span class="navbar-toggler-icon"></span>
					 			</button>
					  <div class="collapse navbar-collapse" id="navbarScroll">
					    	<ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
					      		<li class="nav-item active">
					        		<a class="nav-link" href="../index.html" >Inicio <span class="sr-only">(current)</span></a>
					      		</li>
					      		<li class="nav-item">
					        		<a class="nav-link" href="nuestras-unidades.html" >Nuestras unidades</a>
					      		</li>

					      		<li class="nav-item dropdown">
					        		<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
					          		Lugares que visitar
					        		</a>

					        			<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
					          					<li><a class="dropdown-item" href="#">Nogolí</a></li>
					          					<li><a class="dropdown-item" href="#">Merlo</a></li>	
					          					<li><a class="dropdown-item" href="#">Potrero de los Funes</a></li>
					        			</ul>
					      		</li>
					      		<li class="nav-item">
					        		<a class="nav-link" href="contacto.html" >Contacto</a>
					      		</li>

					      		<li class="nav-item">
					        		<a class="nav-link disabled">MUNDU RODANTES</a>
					      		</li>
					    	</ul>
					    			<form class="d-flex">
					      					<input class="form-control mr-2" type="search" placeholder="Buscar" aria-label="Search">
					     					<button class="btn btn-outline-success" type="submit">Buscar</button>
					    			</form>
					  </div>
					</nav> 
				
			
	</header>

	<main>
		<div class="row col-lg-12 col-12">

					<div class="jumbotron jumbotron-fluid banner1 ">
							<div class="container">
								    <h1 class="display-4">Contactate con nosotros.</h1>
								    <p class="lead">Para una consulta mas personalizada deja tus datos y nos estaremos comunicando con vos!</p>
							</div>
					</div>

			</div>


			<form class="form">

				<div class="form-row">
					<div class="form-group col-md-6">
							    <label for="inputEmail4">Apellido</label>
							    <input type="text" class="form-control" id="apellido">
						</div>

					 		<div class="form-group col-md-6">
							      	<label for="inputPassword4">Nombre</label>
							      	<input type="text" class="form-control" id="nombre">
								</div>
				</div>

				<div class="form-group">
							    <label for="inputAddress">Mail</label>
							    <input type="mail" class="form-control" id="mail" placeholder="tumail@..">
					</div>

						<div class="form-group">
							    <label for="inputAddress2">Teléfono</label>
							    <input type="tel" class="form-control" id="inputAddress2" placeholder="+549123577890">
						</div>

				<div class="form-row">
						 <div class="form-group col-md-6">
							      <label for="inputCity">Cantidad de ocupantes</label>
							      <input type="text" class="form-control" id="inputCity">
							 </div>

							<div class="form-group col-md-4">
							      		<label for="inputState">Unidad a alquilar</label>
							      				<select id="inputState" class="form-control">
							        				<option selected>unidades</option>
							        					<option>Traful (2 personas)</option>
							        					<option>Bombay (3 personas)</option>
							        					<option>Denver (4 personas)</option>
							      				</select>
							  </div>

							    <div class="form-group col-md-2">
							      			<label for="inputZip">Info adicional</label>
							      			<input type="textarea" class="form-control" id="inputZip" >
							    	</div>
					</div>
							<div class="form-group">
							    <div class="form-check">
							      			<input class="form-check-input" type="checkbox" id="gridCheck">
							      			<label class="form-check-label" for="gridCheck">
							        			Recibir llamadas 
							      					</label>
							    </div>
							</div>
							  <button type="submit" class="btn btn-primary boton-enviar">Enviar</button>
							  <button type="reset" class="btn btn-primary boton-reset">Reset</button>
							  
			</form>












	</main>




		<!-------------Footer------------->
			<footer>
						<div class=" row col-lg-12 col-12">
							<a href="https://www.facebook.com/mundu.rodantes.1" target="_blank"><img src="../assets/img/facebook.png" class="img-fluid1" alt="facebook">
										
									<a href="mailto:mundurodantes@gmail.com" target="_blank"><img src="../assets/img/email.png" class="img-fluid" alt="mail">
										
									<a href="https://www.instagram.com/rodantesmundu/?hl=es" target="_blank"><img src="../assets/img/insta.png" class="img-fluid" alt="instagram">
						</div>
											
	
			</footer>

					<!----------cierre de footer--------->





	<!---JS BOOTSTRAP---->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>