<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="../assets/img/favicon32.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="¡BIENVENIDOS A RODANTES MUNDU! Un emprendimiento que te acompaña en tus viajes.">
		<meta name="keywords" content="casa rondantes vacaciones alquiler casillas san luis argentina luagres en san luis potrero de los funes nogoli merlo">
		<title>lugares a visitar</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"integrity="	sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body>
	

	<div class="contenedor__body">
	
			<!---INICIO DE ENCABEZADO--->
			
			<header class="encabezadoG">
			
			<!-- incio de nav -->	
		<nav class="navbarG">
			<!-- LOGO -->
			<div class="header__logo">
					<a href="/index.html" target="_blank"><img src="../assets/img/logo1.png" alt="logo" class="imgLogo1" ></a>
			<!-- CIERRE LOGO -->
			</div>
				<ul class="navG">
					<li><a href="../index.html">INICIO</a></li> 
					<li><a href="nuestras-unidades.html">UNIDADES</a></li>
					<li><a href="preguntas-frecuentes.html">PREGUNTAS FRECUENTES</a></li>
					<li><a href="#">LUGARES QUE VISITAR</a></li>
					<li><a href="contacto.html">CONTACTO</a></li> 

				</ul>
		</nav>
			<!-- cierre de nav -->
			</header>
	</div>
	
	<!-- inicio de contenido -->
	<main class="contenidoG">
		<div class="titulo3__h2">
			<h2>Lugares que visitar en la provincia</h2>
			
		</div>
		
		<div class="lugar__1">
			<!-- Primer Post -->
			<h3 class="txH3">Merlo San Luis</h3>
				<img class="img__lugar1" src="../assets/img/merlo.jpg" alt="Merlo" >
			<p class="textG"> Villa de Merlo San Luis : La ciudad de Merlo se encuentra ubicada en el extremo NE de la provincia de San Luis, esta alegre y colorida Villa Serrana te espera durante los 365 días del año para que pases unas vacaciones inolvidables.
			Reconocida mundialmente por su benigno microclima y sus hermosos paisajes y entornos naturales, Merlo cuenta con una moderna y confortable infraestructura de alojamiento y servicios.</p>
		</div>
			<!-- Fin de primer post -->
		
		<div class="lugar__2">
			<!--Segundo post-->
			<h3 class="txH3">Potrero de los Funes San Luis</h3>
				<img class="img__lugar2" src="../assets/img/potrero.jpg" alt="Potrero" >
			<p class="textG"> Potrero de los Funes es uno de los más aclamados destinos turísticos de la provincia, está ubicado en un encantador valle a 960 msnm, rodeado por cerros que forman parte de las últimas estribaciones de las Sierras de San Luis. Conquista con su sereno espejo de agua, que es el dique más antiguo de la provincia. Traspasando el acogedor pueblo, encontrarás quebradas, saltos de agua y arroyos que descienden entre sierras y que pueden visitarse en sus cómodas costaneras o en caminatas por senderos, acompañado por guías.</p>
		</div>
			<!--Fin de Segundo post-->

		<div class="lugar__3">
			<!--tercer post-->
			<h3 class="txH3">Nogoli San Luis</h3>
				<img class="img__lugar3" src="../assets/img/nogoli.jpg" alt="nogoli" >
			<p class="textG"> Es una localidad del Departamento Belgrano, de la provincia de San Luis, Argentina.Se encuentra 49 km al norte de la ciudad de San Luis, a orillas del Río Nogolí que nace en las Sierras de San Luis.Pequeño paraíso terrenal recostado sobre la falda occidental de las sierras, Nogolí se ubica en el centro- norte de la provincia de San Luis brindando sin reservas su belleza natural y su serenidad característica. Bañada por aguas claras que la hacen merecedora de su denominación indígena, ha sido recientemente descubierta por el turismo convirtiéndose así en un destino magnético para quien busca descanso y recreación en un marco de extrema hermosura.</p>
		</div>
			<!--Fin de tercer post-->


	</main>
	<!-- cierre de contenido -->
	<!-- Inicio de footer -->
	<footer class="footerG ">
	<!-- logo -->
				<div class="logo__bajo">
						<img src="../assets/img/logo1.png" alt="logo" class="imgLogo2">
				</div>		
		<nav class="redes__sociales">	
				<div> 
						<!-- Logo Facebook -->
						<a href="https://www.facebook.com/mundu.rodantes.1" target="_blank"><img src="../assets/img/facebook.png" alt="Facebook" class="fbImg"></a>
						<!-- Cierre logo Facebook -->
				
						<!-- Logo Insta -->
						<a href="https://www.instagram.com/rodantesmundu/?hl=es" target="_blank"><img src="../assets/img/insta.png" alt="Instagram" class="instaImg" ></a>
						<!-- cierre logo insta -->
				
				
						<!-- Logo mail -->
						<a href="mailto:mundurodantes@gmail.com" target="_blank"><img src="../assets/img/email.png" alt="Mail" class="mailImg"></a>
						<!-- cierre logo mail -->
				</div>
		</nav>
	<!-- Cierre de footer -->
	</footer>
</body>
</html>