<!DOCTYPE html>
<html lang="es">
<head>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="../assets/img/favicon32.png">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="¡BIENVENIDOS A RODANTES MUNDU! Un emprendimiento que te acompaña en tus viajes.">
		<meta name="keywords" content="casa rondantes vacaciones alquiler casillas motorhome ">
		<title>unidades mundu rodantes</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"integrity="	sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
		<link rel="stylesheet"  href="../css/estilo.css">
</head>
<body>
	

	<header>
		
		<!--logo y nav-->
				
					<nav class="row col-lg-12 col-12 navbar navbar-expand-lg navbar-light" style= "background-color: #e8e6a7";>
					  		<a class="navbar-brand" href="../index.html" target="_blank"><img src="../assets/img/logo1.png" alt="logo" width="70px"></a>
					  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
					    			<span class="navbar-toggler-icon"></span>
					 			</button>
					  <div class="collapse navbar-collapse" id="navbarScroll">
					    	<ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
					      		<li class="nav-item active">
					        		<a class="nav-link" href="../index.html" >Inicio <span class="sr-only">(current)</span></a>
					      		</li>
					      		<li class="nav-item">
					        		<a class="nav-link" href="nuestras-unidades.html" >Nuestras unidades</a>
					      		</li>
					      		<li class="nav-item">
					        		<a class="nav-link" href="lugares-a-visitar.html" >Lugares a visitar</a>
					      				</li>

					        			<li class="nav-item">
					        		<a class="nav-link" href="preguntas-frecuentes.html" >Preguntas frecuentes</a>
					      		</li>
					      		<li class="nav-item">
					        		<a class="nav-link" href="contacto.html" >Contacto</a>
					      		</li>
					      		<li class="nav-item">
					        		<a class="nav-link disabled">MUNDU RODANTES</a>
					      		</li>
					    	</ul>
					    			<form class="d-flex">
					      					<input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
					     					<button class="btn btn-outline-success" type="submit">Buscar</button>
					    			</form>
					  </div>
					</nav> 
	
	</header>
	
		<!----Main---- Post1--->

		<main>
			<div class="row col-lg-12 col-12">

					<div id="carouselExampleIndicators" class="carousel slide post2" data-ride="carousel">
						  		<ol class="carousel-indicators">
						    		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						    		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						    		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						  		</ol>
						<div class="carousel-inner ">
						    <div class="carousel-item active">
						      		<img src="../assets/img/traful.jpg"  class="d-block w-100 rounded " alt="traful">
						    	</div>
						    <div class="carousel-item">
						      		<img src="../assets/img/bombay.jpg" class="d-block w-100 rounded" alt="bombay">
						    	</div>
						    <div class="carousel-item">
						      		<img src="../assets/img/denver.jpg" class="d-block w-100 rounded" alt="denver">
						    	</div>
						</div>
						  	<button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
						    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    	<span class="sr-only">Previous</span>
						  	</button>
						  	<button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
						    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
						    	<span class="sr-only">Next</span>
						  	</button>
					</div>

			</div>
		
	

		

					<!-----post2--------->
					
						<div class=" row col-lg-12 col-12">	


							<div class="media">
								  		<img class="d-flex align-self-center mr-3 rounded-circle imgb1" src="../assets/img/traful.jpg"  alt="Generic placeholder image">
								  <div class="media-body shadow p-3 mb-5  rounded textPost2" style="background-color:  #e8e6a7">
								    		<h5 class="mt-0">Te presentamos a ¡TRAFUL!</h5>
								    			
								    			<p class="mb-0 textpos2">Un hermoso rodante para que disfrutes tus viajes. Comodidad pura, para 2 personas.
												Cuenta con una cama matrimonial, en su parte trasera se ubica la cocina de la unidad equipada con todo lo necesario para disfrutar de un viaje inolvidable. </p>
								  </div>
							</div>

					
							<div class="media">

							 	 			<img class="d-flex align-self-center mr-3 rounded-circle imgb2" src="../assets/img/bombay.jpg"   alt="Generic placeholder image">
							  		<div class="media-body shadow p-3 mb-5 rounded textPost2" style="background-color:  #e8e6a7">
							    			<h5 class="mt-0">Te presentamos a ¡BOMBAY!</h5>
							    				
							    				<p class="mb-0 "> El rodante ideal para 3 personas, super liviano y cómodo. Esta unidad es ideal para una aventura compartida, cuenta con una cama matrimonial y una individual, en su parte trasera se ubica la cocina de la unidad equipada con todo lo necesario para disfrutar de un viaje inolvidable.</p>
							  		</div>
							</div>


							<div class="media">
										  <img class="d-flex align-self-center mr-3 rounded-circle imgb3" src="../assets/img/denver.jpg"   alt="Generic placeholder image">
									<div class="media-body shadow p-3 mb-5  rounded textPost2" style="background-color:  #e8e6a7">
										    <h5 class="mt-0">Te presentamos a ¡DENVER!</h5>

												<p class="mb-0 " >El espectacular rodante para 4 personas. Esta excelente unidad cuenta con una cama matriomonial y dos 		individuales, cocina, baño interior con ducha incluída, comedor plegable con 2 mesas, heladera y más.. ¡Listo para 		acompañarte en tu viaje!</p>
									</div>
							</div>


						</div>
		</main>
					<!----------cierre de post2--------->

					<!-----Cierre main----->

							<!-------------Footer------------->
			<footer>
					<div class=" row col-lg-12 col-12">
							<a href="https://www.facebook.com/mundu.rodantes.1" target="_blank"><img src="../assets/img/facebook.png" class="img-fluid1" alt="facebook">
					
							<a href="mailto:mundurodantes@gmail.com" target="_blank"><img src="../assets/img/email.png" class="img-fluid" alt="mail">
					
							<a href="https://www.instagram.com/rodantesmundu/?hl=es" target="_blank"><img src="../assets/img/insta.png" class="img-fluid" alt="instagram">
					</div>
						
	
			</footer>

			<!----------cierre de footer--------->

								

		<!---JS BOOTSTRAP---->
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>